#user-tag-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user-tag-modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Share with:
      .modal-body
        %hr
        - User.all.each do |user|
          %label.share-user
            = check_box_tag "shared_ids[]", user.id
            = user.username
          %br
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = form.submit "Share", class: 'btn btn-success'
